<%- include(`partials/header`); %>

<body class="content">
    <main class="main">
        <% if (err !== undefined ) { %>
            <div class="alert alert-danger" role="alert">
                <%= err %>
            </div>
        <% } %>

        <section class="section primary-color-bg">
            <div class="separator"></div>
            <div class="container ">

                <form action="/prijava" method="POST">
                    <div class="form-group">
                        <label for="username">Korisničko ime</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Lozinka</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Prijavi se</button>

                    <div class="container">
                        <div class="separator"></div>
                    </div>
            </div>
        </section>
    </main>
</body>

<%- include(`partials/footer`); %>