@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Bold.woff2") format("woff2"), url("../fonts/DancingScript-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Medium.woff2") format("woff2"), url("../fonts/DancingScript-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-SemiBold.woff2") format("woff2"), url("../fonts/DancingScript-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Dancing Script';
    src: url("../fonts/DancingScript-Regular.woff2") format("woff2"), url("../fonts/DancingScript-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.primary-color-bg {
    background-color: #f7f7f7;
}

.secondary-color-bg {
    background-color: #ffffff;
}

.content {
    color: #313131;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    flex-grow: 1;
}

.main-color {
    color: #f78268;
}

.main-color-emphasized {
    color: #b82626;
}

.font-secondary {
    font-family: cursive;
}

.section {
    overflow: auto;
}

.container {
    margin: auto;
    width: 700px;
}

.container-grid {
    display: grid;
    grid-gap: 20px;
}

.container-grid-thirds {
    grid-template-columns: 2fr 1fr;
}

@media only screen and (max-width: 1280px) {
    .container-grid-thirds {
        display: block;
    }
}

.container-grid-halves {
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1280px) {
    .container-grid-halves {
        display: block;
    }
}

.navigation {
    padding: 10px;
}

.centered-container {
    text-align: center;
}

.container-floated {
    float: left;
}

.field-set {
    border-color: #d400ff;
    border-style: solid;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hidden {
    display: none;
}

.link {
    color: #ff9900;
    text-decoration: none;
    outline: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-distributed {
    justify-content: space-around;
}

.menu-item {
    text-transform: uppercase;
    padding: 20px;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-title {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}


.news-title {
    font-size: 30px;
}




.separator {
    width: 500px;
    margin: auto;
    height: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #FF2D00;
    border-radius: 5px;
    background-image: url("../images/red-dot-cropped.png");
    background-size: 10px;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.link:hover {
    color: #2f99ca;
}

.link-active {
    text-decoration: underline;
    color: #1100ff;
}

.legend {
    background-color: #e0aacd;
    color: #ab4f8b;
    padding: 3px 6px;
}

.submitButtons {
    text-align: center;
}

.deleteTextButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fieldset {
    background-color: #f7f7f7;
    padding: 5px;
    border-color: #ab4f8b;
    margin: 10px;
}

.label-input {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

label {
    width: 110px;
    display: inline-block;
}

.btn {
    background-color: #ab4f8b;
    border: 1px solid #e0aacd;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

.btn-disabled {
    background-color: #e0aacd;
    border: 1px solid #e0aacd;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

.math-btn {
    background-color: #ab4f8b;
    border: 1px solid #e0aacd;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 5px;
    margin: 2px;
    width: 30px;
    cursor: pointer;
}


.btn:focus {
    outline: none;
}

.btn:hover {
    outline: none;
    background-color: #e0aacd;
    border-color: #ab4f8b;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

legend {
    padding: 6px;
    font-size: large;
    color: #7a217a;
}


/*  */

.mainTitle {
    font-size: 2em;
    color: red;
    font-family: 'Dancing Script';
}

.org_title {
    color: blue;
    font-weight: bold;
    font-family: 'Lucida Sans';  
}

.time {
    font-size: 1.5em;
}

.user_label {
    position: absolute;
    top: 7.5%;
    right: 0;
}

.caption_group {
    caption-side: top;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
